In [2]:
import pandas as pd

In [33]:
def print_top_3(years):
    cols = ['Name', 'Gender', 'Count']
    years_df = pd.DataFrame()
    for year in years: 
        file_name = 'names/yob'+str(year)+'.txt'
        names_list = pd.read_csv(str(file_name), names = cols)
        years_df = years_df.append(names_list)
    names_unique = years_df.groupby(['Name', 'Gender']).sum().sort_values(by='Count', ascending=False).head(5)
    return names_unique.head(3)

In [34]:
print_top_3([1900, 1950, 2000])

                Count
Name   Gender
James  M       111489
John   M       109360
Robert M       101145